.banner {
	max-height: 200px;
	position: relative;

	@mixin atMedium {
		max-height: 350px;
	}

	@mixin atLarge {
		max-height: 440px;
	}

	&__heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 18px;
		text-align: center;
		width: 85%;
		font-family: 'MinionProMedium';

		@mixin atMedium {
			max-width: 662px;
			text-align: left;
			/*left: 82px;*/
			transform: translate(-60%, -50%);
		}

		@mixin atLarge {
			max-width: 872px;
			text-align: left;
		}

		&__text {
			font-family: 'MinionProMedium';
			font-size: 1.5rem;
			font-weight: 500;
			margin: 0em;
			color: #ffffff;

			@mixin atMedium {
				font-size: 3rem;
			}

			@mixin atLarge {
				font-size: 4rem;
			}
		}
	}

	&__img {
		/*width: 100%;
    	height: 100%;
    	background: url(../../assets/images/Forside_abstrakt.jpg) no-repeat center;
    	background-size: cover;
    	height: 200px;

    	@mixin atMedium {
			height: 350px;
		}

		@mixin atLarge {
			height: 420px;
		}*/

		&--1 {
			overflow: visible;
			position: relative;
			max-height: 440px;
			flex-basis: 37%;

			width: 100%;
	    	height: 100%;
	    	height: 200px;

	    	@mixin atMedium {
				height: 350px;
			}

			@mixin atLarge {
				height: 440px;
			}

			&--1 {
				background: url(../images/Forside_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--2 {
				background: url(../images/digitalisering_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--3 {
				background: url(../images/rekrutering_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--4 {
				background: url(../images/innovasjon_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--5 {
				background: url(../images/ledelse_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--6 {
				background: url(../images/resultatforbedring_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}

			&--7 {
				background: url(../images/styrearbeid_abstrakt.jpg) no-repeat center;
				background-size: cover;
			}
		}

		&--2 {
			overflow: visible;
			position: relative;
			max-height: 440px;
			flex-basis: 63%;

			width: 100%;
	    	height: 100%;
	    	background-size: cover;
	    	height: 200px;

	    	@mixin atMedium {
				height: 350px;
			}

			@mixin atLarge {
				height: 440px;
			}

			&--1 {
				background: url(../images/Forside_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--2 {
				background: url(../images/digitalisering_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--3 {
				background: url(../images/rekrutering_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--4 {
				background: url(../images/innovasjon_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--5 {
				background: url(../images/styrearbeid_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--6 {
				background: url(../images/resultatforbedring_coness.jpg) no-repeat center;
				background-size: cover;
			}

			&--7 {
				background: url(../images/ledelse_coness.jpg) no-repeat center;
				background-size: cover;
			}
		}
	}
}