.banner {
	max-height: 200px;
	position: relative;

	@mixin atMedium {
		max-height: 350px;
	}

	@mixin atLarge {
		max-height: 450px;
	}

	&__heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 18px;
		text-align: center;
		width: 85%;

		@mixin atMedium {
			max-width: 662px;
			text-align: left;
			left: 82px;
			transform: translateY(-50%);
		}

		@mixin atLarge {
			max-width: 872px;
			text-align: left;
		}

		&__text {
			font-family: 'MinionProMedium';
			font-size: 1.5rem;
			font-weight: 500;
			margin: 0em;
			color: #ffffff;

			@mixin atMedium {
				font-size: 3rem;
			}

			@mixin atLarge {
				font-size: 4rem;
			}
		}
	}

	&__img {
		/*width: 100%;
    	height: 100%;
    	background: url(../../assets/images/Forside_abstrakt.jpg) no-repeat center;
    	background-size: cover;
    	height: 200px;

    	@mixin atMedium {
			height: 350px;
		}

		@mixin atLarge {
			height: 420px;
		}*/

		&--1 {
			overflow: hidden;
			position: relative;
			max-height: 450px;
			flex-basis: 40%;

			width: 100%;
	    	height: 100%;
	    	background: url(../images/Forside_abstrakt.jpg) no-repeat center;
	    	background-size: cover;
	    	height: 200px;

	    	@mixin atMedium {
				height: 350px;
			}

			@mixin atLarge {
				height: 450px;
			}
		}

		&--2 {
			overflow: hidden;
			position: relative;
			max-height: 450px;
			flex-basis: 60%;

			width: 100%;
	    	height: 100%;
	    	background: url(../images/Forside_coness.jpg) no-repeat center;
	    	background-size: cover;
	    	height: 200px;

	    	@mixin atMedium {
				height: 350px;
			}

			@mixin atLarge {
				height: 450px;
			}
		}
	}
}