.btn {
	background-color: $darkGreen;
	text-decoration: none;
	color: $white;
	font-size: calc($fontSize * 1);
	font-weight: 500;
	letter-spacing: 3px;
	font-family: $headerFont;
	padding: 10px 20px;
	display: inline-block;
	border: 3px solid $darkGreen;
	transition: all .3s ease-out;

	/*Device types*/

	@mixin atSmall {
		font-size: calc($fontSize * 1.1);
	}

	@mixin atMedium {
		font-size: calc($fontSize * 1.4);
	}

	@mixin atLarge {
		font-size: calc($fontSize * 1.6);
	}

	&:hover {
		color: $darkGreen;
		background: transparent;
		letter-spacing: 5px;
	}

	&--large {
		padding: 20px 40px;
	}
}