.flex {
	display: block;

	/*Device types*/

	@mixin atMedium {
		display: flex;
		justify-content: space-between;
	}

	/*modifiers*/

	&--always-flex {
		display: flex;
		justify-content: space-between;
	}

	&--column {
		flex-direction: column;
	}

	&--not-medium {
		
		@mixin atMedium {
			display: block;
		}

		@mixin atLarge {
			display: flex;
			justify-content: space-between;
		}
	}

	&--mobile-direction-column {
		flex-direction: column;

		@mixin atMedium {
			flex-direction: row;
		}
	}

	&--mobile-switch {
		order: -1;

		@mixin atMedium {
			order: 0;
		}
	}

	&--center {
		align-items: center;
	}

	&--start {
		align-items: flex-start;
	}

	&--end {
		align-items: flex-end;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--1 {
		flex: 1;
	}

	&--2 {
		flex: 2;
	}

	&--3 {
		flex: 3;
	}
}