.header {
	background-color: #4E4E4E;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 2px 5px -1px black;
	overflow: visible;

	&__nav {
		display: none;

		/*devide types*/

		@mixin atMedium {
			display: block;
		}
	}
}