.logo {
	height: $base;
	position: relative;


	&__image {
		display: block;
		max-height: 92px;
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);

		@mixin atLarge {
			left: 40px;
		}
	}
}