.map {
	position: relative;

	&__image {

	}

	&__text {
		background-color: rgba($black, .8);
		padding: 0;
		position: absolute;
		max-width: 1000px;
		width: 100%;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-wrap: wrap;

		@mixin atMedium {
			padding: 10px;
		}

		&__paragraph {
		 	color: white;
		 	text-align: center;
		 	font-family: 'MinionProRegular';
		 	font-size: 1rem;
		 	margin: 8px;
		 	display: inline-block;
		 	flex: 1;
		 	margin-top: 50px;
		 	margin-bottom: 50px;
		 	min-width: 200px;
		}
	}
}