.map {
	position: relative;

	&__image {

	}

	&__text {
		background-color: rgba($black, .8);
		position: absolute;
		max-width: 1000px;
		width: 100%;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-wrap: wrap;
		padding-top: 30px;
		padding-bottom: 30px;

		@mixin atMedium {
			padding: 10px;
		}

		&--1 {
			order: 1;
			
			@mixin atMedium {
				order: 1;
			}	
		}

		&--2 {
			order: 3;
			
			@mixin atMedium {
				order: 2;
			}	
		}

		&--3 {
			order: 2;
			
			@mixin atMedium {
				order: 3;
			}	
		}

		&__paragraph {
		 	color: white;
		 	text-align: center;
		 	font-family: 'MinionProRegular';
		 	font-size: .9375rem;
		 	margin: 8px;
		 	display: inline-block;
		 	flex: 1;
		 	min-width: 200px;
		 	margin-bottom: 20px;
		 	margin-top: 20px;


		 	@mixin atMedium {
		 		margin-top: 50px;
		 		margin-bottom: 50px;
		 	}
		}
	}
}