.nav {
	display: none;
	position: relative;

	&__button {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);

		@mixin atMedium {
			display: none;
		}
	}

	@mixin atMedium {
		margin: 0;
		text-align: right;
		margin-right: 10px;
		display: block;

		&__link {
			display: inline-block;
			height: $base;

			&:hover > &__item {
				
			}

			&__item {
				display: inline-block;
				padding: 0 6px;
				font-size: .9rem;
				font-family: 'MyriadWebPro';
				font-weight: 400;
				transition: all .2s ease-out;
				line-height: $base;
				color: #788B8B;

				@mixin atLarge {
					padding: 0 23px;
				}
			}
		}
	}

	&--active {
		color: #bdeff0;
	}
}