.quote {
	background-image: url("/assets/images/quote__1.jpg");
	background-size: cover;
	background-position: 50%;
	display: flex;

	&:hover {
		background-position: 0%;
	}

	&__cover {
		flex-grow: 1;
		background-color: rgba($gray, .8);
		transition: all .2s ease-out;

		&:hover {
			background-color: rgba($gray, .9);
			cursor: pointer;
		}
	}

	&__text {

	}
}