.wrapper {
	max-width: calc($base * 15);
	margin: 0 auto;
	padding: 0 calc($base * 0.15);


}

.wrapper--small {
		max-width: calc($base * 7);
		margin: 0 auto;
		padding: 0 calc($base * 0.25);
		position: relative;
	}